<style>
	.right_button_group {
		float: right;
	}

	.left_button_group {
		float: left;
	}

	.clearfix:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	body {
	  overflow-x: hidden;
	}

	#wrapper {
	  padding-left: 0;
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;
	}

	/* #wrapper.toggled {
	  padding-left: 250px;
	} */

	#sidebar-wrapper {
	  z-index: 1000;
	  position: fixed;
	  left: 250px;
	  width: 0;
	  height: 100%;
		margin-left: -250px;
		opacity: 0.90;
	  overflow-y: auto;
	  background: #000;
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	#wrapper.toggled #sidebar-wrapper {
	  width: 250px;
	}

	#page-content-wrapper {
	  width: 100%;
	  position: absolute;
	  padding: 15px;
	}

	#wrapper.toggled #page-content-wrapper {
	  position: absolute;
	  margin-right: -250px;
	}

	/* Sidebar Styles */

	.sidebar-nav {
	  position: absolute;
	  top: 0;
	  width: 250px;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}

	.sidebar-nav li {
	  text-indent: 20px;
	  line-height: 40px;
	}

	.sidebar-nav li a {
	  display: block;
	  text-decoration: none;
	  color: #999999;
	}

	.sidebar-nav li a:hover {
	  text-decoration: none;
	  color: #fff;
	  background: rgba(255, 255, 255, 0.2);
	}

	.sidebar-nav li a:active, .sidebar-nav li a:focus {
	  text-decoration: none;
	}

	.sidebar-nav>.sidebar-brand {
	  height: 65px;
	  font-size: 18px;
	  line-height: 60px;
	}

	.sidebar-nav>.sidebar-brand a {
	  color: #999999;
	}

	.sidebar-nav>.sidebar-brand span {
		color: #fff;
	}

	.sidebar-nav>.sidebar-brand a:hover {
	  color: #fff;
	  background: none;
	}

	@media(min-width:768px) {
	  #wrapper {
	    padding-left: 0;
	  }
	  /* #wrapper.toggled {
	    padding-left: 250px;
	  } */
	  #sidebar-wrapper {
	    width: 0;
	  }
	  #wrapper.toggled #sidebar-wrapper {
	    width: 250px;
	  }
	  #page-content-wrapper {
	    padding: 20px;
	    position: relative;
	  }
	  #wrapper.toggled #page-content-wrapper {
	    position: relative;
	    margin-right: 0;
	  }
	}

	.router_outlet {
		height: 91vh;
	}

	.sidebar-brand > div {
		display: inline-block;
		position: absolute;
		right: 7px;
	}

	.clickable:hover {
		cursor: pointer;
	}

	.sidebar-brand > div > span.clickable:hover {
		color:rgb(56, 53, 53)
	}

	.icon-button {
		border: 0.5px solid rgb(199, 199, 199);
		border-radius: 2px;
	}

	.icon-button:hover {
		background-color: #e4e4e4;
	}

	#menu-toggle:focus {
		outline: none;
	}

</style>

<div id="wrapper">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<span>Budget</span>
				<div class="clearfix">
					<span id="menu-close" class="clickable glyphicon glyphicon-remove"></span>
				</div>
			</li>
			<li><a [routerLink]="['/home']" (click)="hideSidebar($event)">Home</a></li>
			<li><a [routerLink]="['/budget_home']" (click)="hideSidebar($event)">Budget Management</a></li>
			<li><a [routerLink]="['/user_settings']" (click)="hideSidebar($event)">User Settings</a></li>
		</ul>
	</div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="left_button_group">
					<button class="btn icon-button" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
				</div>
				<div class="right_button_group">
					<button class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
				</div>
			</div>
		</div>
		<div class="container-fluid">
				<div class="row router_outlet">
						<router-outlet></router-outlet>
				</div>
		</div>
	</div>
</div>
