<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        background-color: #f5f5f5;
    }

    .button_group_right {
        float: right;
    }

    .button_group_left {
        float: left;
    }

    .content-group {
        margin-top: 1em;
    }

    .fixed-button-group {
        position: fixed;
        right: 125px;
        bottom: 60px;
    }

    .btn-add {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: blue;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    }

    .btn-add::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

    @keyframes ripple {
        0% {
            transform: scale(0, 0);
            opacity: 1;
        }
        20% {
            transform: scale(25, 25);
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: scale(40, 40);
        }
    }

    .btn-add:focus:not(:active)::after {
        animation: ripple 2.5s ease-out;
    }

    .btn-add:focus {
        outline: none;
    }

    .btn-add:hover {
        background-color: #3333ff;
    }

    .add-icon {
        color: white;
    }

    div.dropdown-menu {
        min-width: 100px;
    }

    .credits-header {
        color: green;
    }

    .debits-header {
        color: red;
    }

    .search-group {
        margin-top: 15px;
    }

    .search-label {
        margin-right: 12px;
    }

    .non-recurring-group {
        background-color: #efefef;
        padding: 5px 10px 5px 10px;
        border-radius: 3px;
    }

    .recurring-group {
        background-color: #efefef;
        padding: 5px 10px 5px 10px;
        border-radius: 3px;
    }

    .wide-table-column {
        width: 20%;
    }


    .narrow-table-column {
        width: 10%;
    }
</style>


<div class="row search-group">
        <div class="form-group form-inline col-md-8">
            <label class="search-label">Search Term: </label>
            <input (ngModelChange)="quickSearchBudgetItems($event)" [ngModel]="budgetItemsFilter.searchField" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <button class="btn btn-sm btn-primary button_group_right" data-toggle="modal" data-target="#filterBudgetItemModal">Filter</button>
        </div>
</div>

<div class="content-group non-recurring-group">
    <h3 class="credits-header">Credits</h3>
    <table class="table">
        <thead>
            <th></th>
            <th class="wide-table-column">Name</th>
            <th class="wide-table-column">Description</th>
            <th>Value</th>
            <th>Date</th>
            <th></th>
        </thead>
        <tr *ngFor="let budgetItem of filteredUserBudgetItems.creditBudgetItems">
            <td class="budget-item-icon"></td>
            <td>{{budgetItem.name}}</td>
            <td>{{budgetItem.description}}</td>
            <td>{{budgetItem.displayValue}}</td>
            <td>{{budgetItem.formattedDate}}</td>
            <td><button class="btn btn-danger btn-xs" (click)="deleteBudgetItem(budgetItem)">Delete</button></td>
        </tr>
        
        <tfoot colspan="6" *ngIf="filteredUserBudgetItems.creditBudgetItems.length == 0">
            <tr><td colspan="6">No Credit Budget Items</td></tr>
        </tfoot>
    </table>

    <h3 class="debits-header">Debits</h3>
    <table class="table">
        <thead>
            <th></th>
            <th class="wide-table-column">Name</th>
            <th class="wide-table-column">Description</th>
            <th>Value</th>
            <th>Date</th>
            <th></th>
        </thead>

        <tr *ngFor="let budgetItem of filteredUserBudgetItems.debitBudgetItems">
            <td class="budget-item-icon"></td>
            <td>{{budgetItem.name}}</td>
            <td>{{budgetItem.description}}</td>
            <td>{{budgetItem.displayValue}}</td>
            <td>{{budgetItem.formattedDate}}</td>
            <td><button class="btn btn-danger btn-xs" (click)="deleteBudgetItem(budgetItem)">Delete</button></td>
        </tr>

        <tfoot colspan="6" *ngIf="filteredUserBudgetItems.debitBudgetItems.length == 0">
            <tr><td colspan="6">No Debit Budget Items</td></tr>
        </tfoot>
    </table>
</div>


<div class="content-group recurring-group">
    <h3 class="credits-header">Recurring Credits</h3>
    <table class="table">
        <thead>
            <th></th>
            <th class="wide-table-column">Name</th>
            <th class="wide-table-column">Description</th>
            <th>Value</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cycle Length</th>
        </thead>
        <tr *ngFor="let recurringBudgetItem of filteredRecurringBudgetItems.creditBudgetItems">
            <td class="budget-item-icon"></td>
            <td>{{recurringBudgetItem.name}}</td>
            <td>{{recurringBudgetItem.description}}</td>
            <td>{{recurringBudgetItem.displayValue}}</td>
            <td>{{recurringBudgetItem.startDate}}</td>
            <td>{{recurringBudgetItem.endDate}}</td>
            <td>{{recurringBudgetItem.cycleLength}}</td>
        </tr>
        <tfoot colspan="7" *ngIf="filteredRecurringBudgetItems.creditBudgetItems.length == 0">
            <tr><td colspan="7"><h4>No Recurring Credit Budget Items</h4></td></tr>
        </tfoot>
    </table>

    <h3 class="debits-header">Recurring Debits</h3>
    <table class="table">
        <thead>
            <th></th>
            <th class="wide-table-column">Name</th>
            <th class="wide-table-column">Description</th>
            <th>Value</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cycle Length</th>
        </thead>
        <tr *ngFor="let recurringBudgetItem of filteredRecurringBudgetItems.debitBudgetItems">
            <td class="budget-item-icon"></td>
            <td>{{recurringBudgetItem.name}}</td>
            <td>{{recurringBudgetItem.description}}</td>
            <td>{{recurringBudgetItem.displayValue}}</td>
            <td>{{recurringBudgetItem.startDate}}</td>
            <td>{{recurringBudgetItem.endDate}}</td>
            <td>{{recurringBudgetItem.cycleLength}}</td>
        </tr>
        <tfoot colspan="7" *ngIf="filteredRecurringBudgetItems.debitBudgetItems.length == 0">
            <tr><td colspan="7"><h4>No Recurring Debit Budget Items</h4></td></tr>
        </tfoot>
    </table>
</div>


<div class="modal fade" id="addBudgetItemModal" role="dialog">
    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                <div>
                                    <span *ngIf="budgetItemIsCredit">Add <span *ngIf="budgetItemIsRecurring">Recurring</span> Credit Budget Item</span>
                                    <span *ngIf="!budgetItemIsCredit">Add <span *ngIf="budgetItemIsRecurring">Recurring</span> Debit Budget Item</span>
                                </div>
                            </h4>
                    </div>
                    <div class="modal-body">
                        <add-budget #addBudgetItemComponent [parentCallback]='addBudgetCallback' [budgetItemType]='budgetItemType' [isCredit]='budgetItemIsCredit'></add-budget>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button (click)="addBudgetItem()" type="button" class="btn btn-primary">Add</button>
                    </div>
            </div>
    </div>
</div>

<!-- <div class="modal fade" id="addRecurringBudgetItemModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span *ngIf="recurringBudgetItemIsCredit">Add Recurring Credit Budget Item</span>
                    <span *ngIf="!recurringBudgetItemIsCredit">Add Recurring Debit Budget Item</span>
                </h4>
            </div>
            <div class="modal-body">
                

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div> -->


<div class="modal fade" id="filterBudgetItemModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter Budget Items</h4>
            </div>
            <div class="modal-body">
                <filter-budget-item [userBudgetItems]='userBudgetItems' [parentCallback]='filterBudgetItemsCallback'></filter-budget-item>
            </div>
            <div class="modal-footer">
                <button (click)="filterBudgetItems()" type="button" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </div>
</div>

<div class="fixed-button-group btn-group dropup dropright">
    <button type="button" class="btn btn-add dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus add-icon"></span>
    </button>
    <div class="dropdown-menu">
        <li class="dropdown-item"><a (click)="openAddBudgetItemModal(true)" href="#">Add Credit</a></li>
        <li class="dropdown-item"><a (click)="openAddBudgetItemModal(false)" href="#">Add Debit</a></li>
        <li class="dropdown-item"><a (click)="openRecurringBudgetItemModal(true)" href="#">Add Credit Recurring</a></li>
        <li class="dropdown-item"><a (click)="openRecurringBudgetItemModal(false)" href="#">Add Debit Recurring</a></li>
    </div>
</div>

<!-- <div class="footer">
    <div class="button_group_right">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addBudgetItemModal">Add</button>
    </div>
</div> -->


