<style>
    .settings-number-input {
        width: 100%;
    }

    .settings-label {
        font-weight: normal;
    }

    .form-div {
        border-style: solid;
        border-radius: 3px;
        border-color: #cccccc;
        background-color: #ffffff;
    }

    .settings-form > h4 {
        border-bottom: solid;
        border-bottom-width: 0.5px;
        border-bottom-color: #9b9b9b;
        padding-bottom: 3px;
    }

    form > button {
        float: right;
        margin-bottom: 8px;
    }
</style>


<div class="budget-settings">
    <div class="col-lg-offset-4 col-lg-6 form-div">
        <form (ngSubmit)="saveUserBudgetSetting(userBudgetSettingForm)" [formGroup]="userBudgetSettingForm" class="settings-form">
            <h4>Budget Cycle Settings</h4>

            <div class="form-group center-block">
                <label class="settings-label">Cycle Start Date</label>
                <div class="settings-select-input">
                    <p-calendar formControlName="cycleStartDate" dateFormat="dd/mm/yy"></p-calendar>
                </div>

                <div [hidden]="cycleStartDateControl.touched ? !cycleStartDateControl.errors?.conditionallyInvalid : true">
                    <label class="error_text">Please enter a valid date</label>
                </div>
            </div>

            <div class="form-group center-block">
                <label class="settings-label">Budget Cycle Length (Days)</label>
                <div class="settings-number-input" [ngClass]="{ errored: cycleLengthControl.touched ? cycleLengthControl.errors?.required || cycleLengthControl.errors?.min : false }">
                    <!-- <input formControlName="cycleLength" type="number" class="form-control" [(ngModel)]="userBudgetSetting.cycleLength" > -->
                    <input formControlName="cycleLength" type="number" class="form-control">
                </div>

                <div [hidden]="cycleLengthControl.touched ? !cycleLengthControl.errors?.required : true ">
                    <label class="error_text">The budget cycle length must be provided</label>
                </div>

                <div [hidden]="cycleLengthControl.touched ? !cycleLengthControl.errors?.min : true ">
                    <label class="error_text">The budget cycle length must be at least 1</label>
                </div>
            </div>
            <div class="form-group center-block">
                <label class="settings-label">Cycle Budget</label>
                <div class="settings-number-input" [ngClass]="{ errored: cycleBudgetControl.touched ? cycleBudgetControl.errors?.required || cycleBudgetControl.errors?.min : false }">
                    <!-- <input formControlName="cycleBudget" type="number" class="form-control" [(ngModel)]="userBudgetSetting.cycleBudget"> -->
                    <input formControlName="cycleBudget" type="number" class="form-control">
                </div>

                <div [hidden]="cycleBudgetControl.touched ? !cycleBudgetControl.errors?.required : true">
                    <label class="error_text">A budget must be provided</label>
                </div>

                <div [hidden]="cycleBudgetControl.touched ? !cycleBudgetControl.errors?.min : true">
                    <label class="error_text">The budget must be at least 0</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>