<style>
    .date-group {
        display: inline-block
    }

    .to-date-group {
        margin-left: 20px;
    }

    .from-date-group {
        margin-right: 20px;
    }

</style>

<form [formGroup]="budgetForm" *ngIf="!isRecurring">
    <div class="form-group">
        <label for="item_name">Name:</label>
        <input formControlName="name" name="BudgetItemName" type="text" class="form-control" id="budget_name" placeholder="Item Name">
        <div *ngIf="((budgetFormField('name').touched || budgetFormField('name').dirty) || formSubmitted) && budgetFormField('name').errors?.required" class="error_text">An item name is required</div>
    </div>
    <div class="form-group">
        <label for="item_description">Description:</label>
        <input formControlName="description" name="BudgetItemDescription" type="text" name="BudgetDescription" class="form-control" id="item_description" placeholder="Item Description">
    </div>
    <div class="form-group">
        <label for="item_value">Value:</label>
        <!-- <input [ngModel]="budgetItem.displayValue" (ngModelChange)="budgetItem.value=$event"  formControlName="value" name="BudgetItemValue" type="text" class="form-control" id="item_value" placeholder="Item Value"> -->
        <input formControlName="value" name="BudgetItemValue" type="text" class="form-control" id="item_value" placeholder="Item Value">
        <div *ngIf="((budgetFormField('value').touched || budgetFormField('value').dirty) && formSubmitted) && budgetFormField('value').errors?.pattern" class="error_text">The item value must be numerical</div>
        <div *ngIf="((budgetFormField('value').touched || budgetFormField('value').dirty) || formSubmitted) && budgetFormField('value').errors?.required" class="error_text">The item value is required</div>
    </div>
    <div class="form-group">
        <label for="item_date">Date:</label>
        <!-- <input #budgetItemDate [ngModel]="budgetItem.formattedDate" (blur)="budgetItem.formattedDate=budgetItemDate.value" id="item-date" formControlName="date" type="string" name="BudgetItemDate" class="form-control datepicker" placeholder="Date"> -->
        <div class="settings-select-input">
            <p-calendar formControlName="date" dateFormat="dd/mm/yy"></p-calendar>
        </div>
        <div *ngIf="((budgetFormField('date').touched || budgetFormField('date').dirty) || formSubmitted) && budgetFormField('date').errors?.required" class="error_text">The date of the item is required</div>
    </div>
</form>


<form [formGroup]="recurringBudgetForm" *ngIf="isRecurring">
    <div class="form-group">
        <label for="item_name">Name:</label>
        <input formControlName="name" name="BudgetItemName" type="text" class="form-control" id="recurring_budget_name" placeholder="Item Name">
        <div *ngIf="((recurringBudgetFormField('name').touched || recurringBudgetFormField('name').dirty) || formSubmitted) 
        && recurringBudgetFormField('name').errors?.required" class="error_text">An item name is required</div>
    </div>
    <div class="form-group">
        <label for="RecurringBudgetItemDescription">Description:</label>
        <input formControlName="description" name="RecurringBudgetItemDescription" type="text" name="BudgetDescription" class="form-control" id="recurring_item_description" placeholder="Item Description">
    </div>
    <div class="form-group">
        <label for="RecurringBudgetItemValue">Value:</label>
        <input formControlName="value" name="RecurringBudgetItemValue" type="text" class="form-control" id="recurring_item_value" placeholder="Item Value">
        <div *ngIf="((recurringBudgetFormField('value').touched || recurringBudgetFormField('value').dirty) && formSubmitted)">
            <div *ngIf="recurringBudgetFormField('value').errors?.pattern" class="error_text">The item value must be numerical</div>
            <div *ngIf="recurringBudgetFormField('value').errors?.required" class="error_text">The item value is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="RecurringItemCycleLength">Cycle Length:</label>
        <input formControlName="cycleLength" name="RecurringItemCycleLength" type="number" class="form-control" id="cycle_length" placeholder="Cycle Length">
        <div *ngIf="((recurringBudgetFormField('cycleLength').touched || recurringBudgetFormField('cycleLength').dirty) || formSubmitted) 
        && recurringBudgetFormField('cycleLength').errors?.required" class="error_text">Cycle length must be provided</div>
    </div>
    <div class="form-group">
        <div class="date-group from-date-group">
            <label for="from_date">From Date:</label>
            <div class="settings-select-input">
                <p-calendar formControlName="fromDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div *ngIf="((recurringBudgetFormField('fromDate').touched || recurringBudgetFormField('fromDate').dirty) || formSubmitted) 
            && recurringBudgetFormField('fromDate').errors?.required" class="error_text">The from date of the item is required</div>
        </div>
        <span>-</span>
        <div class="date-group to-date-group">
            <label for="to_date">To Date:</label>
            <div class="settings-select-input">
                <p-calendar formControlName="toDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div *ngIf="((recurringBudgetFormField('toDate').touched || recurringBudgetFormField('toDate').dirty) || formSubmitted) 
            && recurringBudgetFormField('toDate').errors?.required" class="error_text">The to date of the item is required</div>
        </div>
    </div>
</form>