<style>
    .period-selector {
        position: fixed;
        background-color: rgba(187, 187, 187, 0.85);
        min-width: 500px;
        /* max-width: 600px; */
        border-radius: 1.5px;
        border: solid;
        border-color: rgba(187, 187, 187, 0.801);
        border-width: 0.5px;
        box-shadow: 0px -2px 20px 2px rgba(0, 0, 0, 0.4);
    }

    .period-selector-select {
        width: 32%;
        -webkit-appearance: none;
        border-radius: 0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC') !important;
        background-repeat: no-repeat;
        background-position: 75px center;
        padding-left: 10px;
    }

    .period-header {
        margin-top: 3px;
    }


    .period-range-row > span {
        font-size: large;
    }

    .period-range-row {
        text-align: center;
        margin-top: 6px;
    }


    .period-body {
        padding: 0;
    }

    .period-range-row:hover {
        cursor: pointer;
        background-color: rgba(187, 187, 187, 0.9)
    }

    .page-selector-row {
        text-align: center;
    }

    .page-selector-icon {
        margin: 3px;
    }

</style>

<div class="period-selector" id="period-selector">
    <div class="period-header col-lg-12">
        <select id="period-selector-year" class="period-selector-select period-selector-year" [(ngModel)]="selectedDate.year" (change)="filterPeriodArray($event)">
            <option [ngValue]="null">Any Year</option>
            <option *ngFor="let date of dateDictionary.values()" [ngValue]="date.year">
                {{date.year}}
            </option>
        </select>

        <select id="period-selector-month" class="period-selector-select period-selector-month" [(ngModel)]="selectedDate.month" (change)="filterPeriodArray($event)">
            <ng-container *ngIf="!selectedDate.year">
                <option [ngValue]="null">Any Month</option>
            </ng-container>
            <ng-container *ngIf="selectedDate.year">
                <option [ngValue]="null">Any Month</option>
                <option *ngFor="let month of dateDictionary.get(selectedDate.year).months" [ngValue]="month.index">
                    {{month.month}}
                </option>
            </ng-container>
        </select>

        <select id="period-selector-day" class="period-selector-select period-selector-day" [(ngModel)]="selectedDate.day" (change)="filterPeriodArray($event)">
            <ng-container *ngIf="!selectedDate.month">
                <option [ngValue]="null">Any Day</option>
            </ng-container>
            <ng-container *ngIf="selectedDate.month">
                <option [ngValue]="null">Any Day</option>
                <option *ngFor="let day of dateDictionary.get(selectedDate.year).getMonthDaysFromNum(selectedDate.month)" [ngValue]="day.date+1">
                        {{day.date+1}}
                </option>
            </ng-container>
        </select>
    </div>

    <div class="period-body col-lg-12">
        <div class="period-range-row" *ngFor="let dateRange of filteredDateRangeList[_currPage]" (click)="selectPeriod(dateRange)">
                <span>{{dateRange.getFormattedFromDate("DD/MM/YYYY")}} </span>
                <span class="glyphicon glyphicon-arrow-right"></span>
                <span> {{dateRange.getFormattedToDate("DD/MM/YYYY")}}</span>
        </div>
    </div>

    <div class="period-footer col-lg-12">
        <div class="page-selector-row">
            <span class="glyphicon glyphicon-arrow-left page-selector-icon" (click)="changePage(-1)">
            </span>

            <ng-container *ngIf="filteredDateRangeList.length > 0" >
                <span class="date-range-span">{{_currPage+1}}/{{filteredDateRangeList.length}}</span>
            </ng-container>
            <ng-container *ngIf="!filteredDateRangeList.length > 0">
                <span class="date-range-span">No Results</span>
            </ng-container>

            <span class="glyphicon glyphicon-arrow-right page-selector-icon" (click)="changePage(1)">
            </span>
        </div>
    </div>
</div>