<style>
    .datepicker-group input {
        display: inline-block;
    }
    /* .datepicker-group .datepicker-from {
        width: 80%;
    } */

    .date-range-label {
        width: 15%;
        float: left;
        margin-left: 10px;
    }
</style>

<form class="form-horizontal" [formGroup]="filterBudgetForm">
    <div class="form-group row datepicker-group">
        <div class="date-range-label">
            <label for="date_range" class="control-label">Date Range:</label>
        </div>
        <div class="col-lg-9">
            <div class="col-lg-5">
                <!-- <input #budgetItemFromDate id="budget-item-from-date" class="form-control datepicker datepicker-from" formControlName="budgetItemFromDate" name="budgetItemFromDate" [ngModel]="filterBudgetItem.formattedBudgetDateFrom" (click)="filterBudgetItem.formattedBudgetDateFrom=budgetItemFromDate.value" placeholder="From Date"> -->
                <p-calendar formControlName="budgetItemFromDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="col-lg-1">
                <label class="h-center v-center control-label">to</label>
            </div>
            <div class="col-lg-5">
                <!-- <input #budgetItemToDate id="budget-item-to-date" class="form-control datepicker datepicker-to" formControlName="budgetItemToDate" name="budgetItemToDate" [ngModel]="filterBudgetItem.formattedBudgetDateTo" (click)="filterBudgetItem.formattedBudgetDateTo=budgetItemToDate.value" placeholder="To Date">                                 -->
                <p-calendar formControlName="budgetItemToDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
    </div>
</form>