<style>
    .left-date-arrow {
        position: absolute;
        left: 15px;
    }

    .right-date-arrow {
        position: absolute;
        right: 15px;
    }

    .date-span {
        font-weight: bold;        
        font-size: 1.2em;
    }

    .credit-column span {
        font-size: 1.3em;
        color: rgb(61, 173, 61);
    }

    .debit-column span {
        font-size: 1.3em;
        color: rgb(245, 39, 39);
    }

    .span-header {
        font-size: 1.3em;
    }

    .debit-column {
        min-height: 85vh;
    }

    .credit-column {
        min-height: 85vh;
    }

    .budget-value {
        font-size: 1.3em;
    }
    
    .budget-body {
        margin-top: 20px;
    }

    .progress-bar-container {
        background-color: rgba(128, 128, 128, 0.267);
        height: 20px;
        border-style: solid;
        border-width: 0.5px;
        border-radius: 0.8px;
        border-spacing: 0.3px;
    }

    .progress-bar {
        display: inline-block;
        background: rgba(11, 14, 216, 0.699);
        height: 19px;
    }

    .balance-row {
        margin-bottom: 30px;
    }

    .date-group:hover {
        cursor: pointer;
    }

    .balance-span {
        display: inline-block;
        position: absolute;
        left: 50%;
        font-weight: bold;
    }

</style>

<div class="date-header col-lg-12" style="margin-top: 20px;">
    <span class="glyphicon glyphicon-arrow-left left-date-arrow" (click)="decrementDate()"></span>

    <div style="margin: 0 auto; width: 40%; text-align: center;">
        <div id="date-group" class="date-group clearfix">
            <span class="date-span">
                {{ budgetSummaryModel.stringFormattedDateRange.startDate }}
            </span>
            <span>-</span>
            <span class="date-span">
                {{ budgetSummaryModel.stringFormattedDateRange.endDate }}
            </span>
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>

    <span class="glyphicon glyphicon-arrow-right right-date-arrow" (click)="incrementDate()"></span>

    <div class="body budget-body">
        <div class="row">  
                <div class="balance-row col-lg-12">
                    <span class="span-header">Balance</span>
                    <div class="progress-bar-container">
                        <p class="balance-span">{{ budgetSummaryModel.balance }}</p>
                        <div class="progress-bar">
                        </div>
                    </div>
                </div>

                <div class="credit-column col-lg-6">
                    <span class="">Credits</span>
                    <div class="budget-value">
                        {{ budgetSummaryModel.credit }}
                    </div>
                </div>
                
                <div class="debit-column col-lg-6">
                    <span class="">Debits</span>
                    <div class="budget-value">
                        {{ budgetSummaryModel.debit }}
                    </div>
                </div>
        </div>

    </div>

    <budget-period-selector-component *ngIf="budgetPeriodSelectorSettings" [settingsObject]="budgetPeriodSelectorSettings"></budget-period-selector-component>

</div>
