.error_text {
	color: red;
}

div.errored {
	border: 1px solid red;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid black;
}
  
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid black;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 10px solid black;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 

	border-right: 10px solid black;
}

.v-center {
	position: relative;
	transform: translatey(-50%);
	top: 50%;
}
.h-center {
	position: relative;
	transform: translateX(-50%);
	left: 50%;
}