{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Budget</title>
	<link rel="stylesheet" type="text/css" href="{% static 'budget/css/bootstrap/bootstrap.css' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'budget/css/bootstrap/bootstrap-theme.css' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'budget/css/custom/site.css' %}"/>

	<script type="text/javascript" src="{% static 'budget/js/require.js' %}"></script>
	<script type="text/javascript" src="{% static 'budget/js/require_config.js' %}"></script>
</head>

<body class="container">

	<div class="vertical_center">
		<div class="login-form-group col-sm-6 col-xs-6 col-lg-6 col-xl-6 col-lg-offset-3 col-xl-offset-3">
			<form>
				<h1>Login</h1>
				<div class="form-group">
					<label for="user_name">User Name:</label>
					<input type="text" class="form-control" id="user_name" placeholder="User Name">
				</div>
				<div class="form-group">
					<label for="user_password">Password:</label>
					<input type="password" class="form-control" id="user_password" placeholder="Password">
				</div>
				<btn class="btn btn-primary btn-sm form_button_right">Login</btn>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		require(['jquery', 'angular', 'bootstrapjs'], function ($, angular) {
			console.log("In function");
		});
	</script>
</body>

</html>