<body class="container">
  <div class="vertical_center">
    <div class="login-form-group col-sm-6 col-xs-6 col-lg-6 col-xl-6 col-lg-offset-3 col-xl-offset-3">
      
      <form>
        <h1>Login</h1>
        <div class="form-group">
          <label for="user_name">User Name:</label>
          <input [(ngModel)]="loginDetails.username" name="user_name" #username="ngModel" type="text" class="form-control" id="user_name" placeholder="User Name">
        </div>
        <div class="form-group">
          <label for="user_password">Password:</label>
          <input [(ngModel)]="loginDetails.password" #password="ngModel" name="password" type="password" class="form-control" id="user_password" placeholder="Password">
        </div>

        <div *ngIf="!validLogin" class="error_text">
          <p>Login details are incorrect</p>
        </div>

        <button class="btn btn-primary btn-sm form_button_right" (click)="submitLogin()">Login</button>
      </form>
    </div>
  </div>
</body>